@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*
Header---------------------------------------------------------------------------------------------------------------
*/

.logo {
    cursor: pointer;
}

header{
    text-align: center;
    height: 130px;
    width: 100%;
    background: #79c9c7;
}

.navigation li a {
    font-family: "Quicksand", sans-serif;;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.navigation {
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    list-style: none;
}

nav .navigation {
    background-color: #6cc7c5;
}

.navigation li {
    display: inline-block;
    padding: 0 40px;
}

.navigation li a{
    transition: all 0.3s ease-out;
    background-color: #6cc7c5;
    border-radius: 20px;
}

.navigation li a:not(.cta):hover{
    padding: 7px 25px;
    color: #2d5a51;
    background-color: #1fbab8;
}

.cta button {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    color: #f05c1e;
    padding: 9px 25px;
    background-color: #ffba9d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: #f05c1e;
    color: #fff;
}
/*
Body---------------------------------------------------------------------------------------------------------------
*/



.containers {
    display: flex;
    width:100%;
    top: 35vh;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #747474;
    margin: auto;
    z-index:3;
}

.container1 {
    position: absolute;
    height: 50vh;
    width: 70vh;
    border-radius: 30px;
    background-color: #ef8049;
    left: 10%;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
}

.container2 {
    position: absolute;
    height: 50vh;
    width: 70vh;
    border-radius: 30px;
    background-color: #2d5a51;
    left: 55.5%;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
}

.containers h1{
    position: relative;
    font-family: "Corbel Light", sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    font-size: 60pt;
    top: 25%;
}

.containers h3{
    position: relative;
    font-family: "Corbel Light", sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 30pt;
    top: 24%;
}

.dash {
    border-radius: 30px;
    background-color: #ffffff;
    width: 86%;
    height: 1vh;
    position: absolute;
    left: 7%;
    top: 22%;
}

.dash2 {
    border-radius: 30px;
    background-color: #ffffff;
    width: 34%;
    height: 1vh;
    position: absolute;
    left: 33%;
    top: 66%;
}

.containers a button{
    position: relative;
    font-family: "Corbel Light", sans-serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 24pt;
    padding: 9px 25px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    left: 30%;
    top: 35%;
}

.personButton button{
    background-color: #0eb7a4;
    transition: all 0.3s ease 0s;
}

.personButton button:hover {
    background-color: #fff;
    color: #0eb7a4;
    border: 3px solid #0eb7a4;
}

.onlineButton button{
    background-color: #ef7e46;
    transition: all 0.3s ease 0s;
}

.onlineButton button:hover {
    background-color: #fff;
    color: #ef7e46;
    border: 3px solid #ef7e46;
}

.glassC{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 55%;
    align-items: center;
}

.glass {
    position: relative;
    width:80%;
    height: 80%;
    margin: auto;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(13px);
    top: 92%;
    text-align: center;
    color: #ffffff;
    z-index:1;
}

.glass .dash2 {
    border-radius: 30px;
    background-color: #ffffff;
    width: 15%;
    height: 1vh;
    position: absolute;
    top: 34%;
    left: 43%;
}

.glass h1 {
    font-size: 28pt;
    position: relative;
    top: 10%;
    font-family: Quicksand, serif;
    font-weight: 500;
}

.glass h5 {
    position: relative;
    font-size: 13pt;
    width: 80%;
    font-family: Quicksand, serif;
    font-weight: 300;
    margin: auto;
    top: 23%;
}

/*
FOOTER--------------------------------------------------------------------------------------------------------------
*/
body {
background-color: #35363a;
max-width: 1920px;
}


.face {
left: 8.4%;
position: absolute;
bottom: -38.7%;
z-index:3;
}

.insta {
position: absolute;
bottom: -38.7%;
z-index:3;
left: 32%;
}

.bottom{
  position: absolute;
  top: 130%;
  width: 100%;
  background-color: #fff;
  color: #323232;
  text-align: center;
  border-bottom: 4vh solid #fff;
  box-shadow:0 0 8px rgba(0,0,0,0.1);
 }

.links {
color:#747474;
    font-family: arial, serif;
    text-decoration: none;
display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 3% 10%;
    list-style: none;
    transition: all 0.3s ease 0s;
}

.links:visited {
color:#747474;
}

.link1 :hover{
color: #f05c1e;
}

.link2 :hover{
color: #f05c1e;
}


.backC {
position: relative;
width: 100%;
z-index:-4;
top: 0;
}
